// Body
$body-bg: #2a2b3c;

// COlors
$primary: #0cc2aa;
$panel: #313347;

// Book
$book-bg: #fff;
$border: #303030;
$border-light: #999;
$step-box: #160f45;
$step-text: #fff;
$step-red: #d53e29;
$color-link: #e90707;

$text: #fbfbfb;
$text_inverse: rgba(0, 0, 0, 0.87);